body {
    background-image: linear-gradient(to left, #8e0000 50%, #f1eedd 50%);
    text-align: center;
    font-family: cursive;
    font-family: "Oswald", sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 26);
    font-family: cursive;
  }
  
  .pokemon-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .pokemon-block,
  .pokemon-block-back {
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(19, 118, 15);
    box-shadow: 6px 20px 10px rgba(0, 61, 114, 0.861)  }

    .pokemon-block:hover{
        box-shadow: 6px 20px 10px rgb(0, 0, 95);
      }

  .pokemon-block p {
    margin: 10px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(255, 60, 0);
    font-size: 2rem;
  }